main.historia h1{
    margin: 40px;
}
main.historia h2{
    background-color: #1A1719;
    margin: 20px;
}

main.historia p{
    width: 70%;
    margin: auto;
    padding: 15px 0px;
}

main.historia img{
    display: block;
    width: 50% ;
    margin: auto;
    padding: 20px;
}