*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100vw;
    height: 100vh;
    background: url(../imagens/Captura\ de\ Tela\ \(452\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu{
    height: 50px;
}

.homepage img{
    height:50px; 
    float: left;
}

.menu ul{
    height: 50px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5% ;
}

.menu li{
    box-sizing: border-box;
    width: 100px;
    text-align: center;
}

.content{
    margin: 0px;
    padding: 0px;
    background-color: rgb(29, 30, 34);
}