main.agenda h1{
    margin: 40px;
}

main.agenda h2{
    padding: 30px;
}

main.agenda li:hover{
    transform: scale(105%);
}

/*Para os shows mais próximos*/
section.shows-proximos {
    background: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    margin: auto;
    padding: 0px 0px 30px;
}

section.shows-proximos h2{
    color: #8f5834;
}

section.shows-proximos ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

    list-style: none;
}

section.shows-proximos ul li{
    width: 40%;
    height: 150px;
    
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "data" "lugar";

    transition: transform 0.5s;
}

section.shows-proximos div.data{
    background-color: #8f5834;
    grid-area: "data";

    padding: 25px 0px;
    border-radius: 15px 0px 0px 15px;

    text-align: center;
    font-size: 35px;
}

section.shows-proximos div.data p{
    font-weight: 700;
}

section.shows-proximos div.cidade{
    background-color: #1A1719;
    grid-area: "lugar";
    
    padding: 35px;
    border-radius: 0px 15px 15px 0px;

    font-size: 20px;
    font-weight: 500;
}

/*Shows distantes*/

section.shows-distantes{
    width: 90%;
    margin: auto;
}

section.shows-distantes ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

    list-style: none;
}

section.shows-distantes ul li{
    width: 100%;
    height: 150px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "data" "lugar";

    transition: transform 0.5s;
}

section.shows-distantes div.data{
    background-color: #A5BA4F;
    grid-area: "data";

    padding: 45px 0px;
    border-radius: 15px 0px 0px 15px;

    text-align: center;
    font-size: 30px;
}

section.shows-distantes div.data p{
    font-weight: 600;
}

section.shows-distantes div.cidade{
    background-color: #1A1719;
    grid-area: "lugar";

    padding: 45px;
    border-radius: 0px 15px 15px 0px;

    font-size: 20px;
}
