h1{
    margin: 20px 0px;
}

input::placeholder, textarea::placeholder{
    color: rgb(154, 154, 154);
}

.formulario{
    background-color: #1A1719;
    width: 800px;
    padding: 50px;
    margin: 40px auto;
    border-radius: 25px;
}

input, textarea{
    border: none;
    padding: 15px;
    border-radius: 10px;    
    width: 100%;

    color: #1A1719;
}

textarea{
    resize: none;
    height: 200px;
}

label{
    display: block;
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #A5BA4F;
}

button{
    background-color: #A5BA4F;  
    
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;

    transition: background 0.5s;
}

button:hover{
    background-color: #bbd163;
}