header{
    height: 100vh;
    width: 100%;
    background: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
} /*Plano de fundo resposivo. Tive muito orgulho disso :')*/


/*Aparência da área do vídeo*/
.lastRelease {
    background: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0px;
    padding: 20px;
}

.lastRelease h1,p{
    color: #563721;
}

.musicVideo{
    width: 60%;
    margin: 30px auto;
}

.musicVideo video{
    border-radius: 20px;
}

.description{
    width: 70%;
    margin: 20px auto;
}

/*Mini galeria*/

.galery ul{
    width: 930px;
    height: 620px;
    margin: auto;
    padding: 30px 0px;

    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.galery img{
    width: 300px;
    height: 300px;
    border-radius: 10px;

    transition: transform 0.5s;
} /*A resposividade aqui não está a das melhores, mas eu não achei outra maneira de organizar*/

.galery img:hover{
    transform: scale(105%);
}

/*Contato*/

.contact ul{
    width: 70%;
    margin: auto;
    padding: 30px;

    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.contact li{
    background-color: #1A1719;
    box-sizing: border-box;

    height: 80px;
    padding: 5px;
    margin-bottom: 10px ;
    border-radius: 5px;

    transition: background 0.5s;
    transition: transform 0.5s;
}

.contact li:hover{
    background-color: #211e21;
    transform: scale(105%);
}

.contact li img{
    height: 60px;
    margin: 5px;
    float: left;
}

.contact li p{
    color: #FAF4F0;
    width: 220px;
    height: 80px;
    padding: 25px 0px;
    float: left;

    text-align: center;
}